<!--Footer-->
<footer class="bg-gray-100">
  <div class="container mx-auto px-6 pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Company</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >BuyMerca Official Blog</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Trends</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Sustainability</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >About Us</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Help</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >FAQ</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >To Buy</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >To Sell</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Problem Resolution</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Security Center</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Terms</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Privacy</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Social Media</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Facebook</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Twitter</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">My Account</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Login</a
            >
          </li>
          <li class="mt-2">
            <a
              href="#"
              class="hover:underline text-gray-600 hover:text-orange-500"
              >Sell</a
            >
          </li>
        </ul>
      </div>
    </div>
    <small>Copyright © 2022 BuyMerca</small>
  </div>
</footer>

</body>
</html>
